@model List<StudentActivity.Models.student>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

@section sideBarOptions{ 
    <form class="form-inline" action="/student/index">
        <span style="width:100%" class="input-group-text border-0" id="search-addon"> <label>SEARCH :</label></span>
        <span style="width:100%" class="input-group-text border-0" id="search-addon">
            <input type="search" class="form-control rounded" id="search" name="searchname" placeholder="Search name" aria-label="Search " aria-describedby="search-addon" value="@ViewBag.searchname" />
        </span>
        <span style="width: 100% " class="input-group-text border-0" id="search-addon">
            <input type="search" class="form-control rounded" id="search" name="searchaddress" placeholder="Search address" aria-label="Search " aria-describedby="search-addon" value="@ViewBag.searchaddress" />
        </span>
        <span style="width: 100% " class="input-group-text border-0" id="search-addon">
            <input type="search" class="form-control rounded" id="search" name="searchgender" placeholder="Search gender" aria-label="Search " aria-describedby="search-addon" value="@ViewBag.searchgender" />
        </span>
        <span style="width: 100% " class="input-group-text border-0" id="search-addon">
            <button type="submit" class="btn btn-primary">Search</button>
        </span>

        <a href="/student/create" class="btn btn-info" role="button" style="float: right; background-color:lightblue; width: 100%;">Create</a>

    </form>
}



<table class="table">
    <tr class="table-secondary">
    <thead class="thead-dark">
    <th style="width:10%">
        @if (ViewBag.iconClass == "fa-sort-desc")
        {
            <a href="/student/index?sortColumn=stud_id&iconClass=fa-sort-asc&pageNumber=1">Student ID</a>
            if (ViewBag.sortcolumn == "stud_id")
            {
                <i class="fa @ViewBag.iconClass"></i>
            }
        }
        else
        {
            <a href="/student/index?sortColumn=stud_id&iconClass=fa-sort-desc&pageNumber=1">Student ID</a>
            if (ViewBag.sortColumn == "stud_id")
            {
                <i class="fa @ViewBag.iconClass"></i>
            }

        }
    </th>
    <th style="width:25%">
        @if (ViewBag.iconClass == "fa-sort-desc")
        {
            <a href="/student/index?sortColumn=sname&iconClass=fa-sort-asc&pageNumber=1">Student name</a>
            if (ViewBag.sortcolumn == "sname")
            {
                <i class="fa @ViewBag.iconClass"></i>
            }
        }
        else
        {
            <a href="/student/index?sortColumn=sname&iconClass=fa-sort-desc&pageNumber=1">Student name</a>
            if (ViewBag.sortColumn == "sname")
            {
                <i class="fa @ViewBag.iconClass"></i>
            }

        }

    </th>
    <th style="width:10%">Phone</th>
    <th style="width:25%">
        @if (ViewBag.iconClass == "fa-sort-desc")
        {
            <a href="/student/index?sortColumn=address&iconClass=fa-sort-asc&pageNumber=1"> Address</a>
            if (ViewBag.sortcolumn == "address")
            {
                <i class="fa @ViewBag.iconClass"></i>
            }
        }
        else
        {
            <a href="/student/index?sortColumn=address&iconClass=fa-sort-desc&pageNumber=1"> Address</a>
            if (ViewBag.sortColumn == "address")
            {
                <i class="fa @ViewBag.iconClass"></i>
            }

        }



    </th>
    <th style="width:10%">Gender</th>

    </thead>
    </tr>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.stud_id</td>
            <td>@item.sname</td>
            <td>@item.phone</td>
            <td>@item.address</td>
            <td>@item.gender</td>
            <td>
                <a href="/student/details/@item.stud_id" class="btn btn-info" role="button">Details</a>
                <a href="/student/edit/@item.stud_id" class="btn btn-success" role="button">Edit</a>
                <a href="/student/delete/@item.stud_id" class="btn btn-danger" role="button" onclick="return confirm('Are sure wants to delete?')" ;>Delete</a>
            </td>
        </tr>

    }

    <tr>
        <td colspan="9">
            @{
                int PrevPageNo = ViewBag.pageNumber - 1;
                if (PrevPageNo <= 0)
                {
                    PrevPageNo = 1;
                }

                int NextPageNo = ViewBag.pageNumber + 1;
                if (NextPageNo > ViewBag.NoOfPages)
                {
                    NextPageNo = ViewBag.NoOfPages;
                }
            }
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link" href="/student/index?SortColumn=@ViewBag.SortColumn&IconClass=@ViewBag.IconClass&pageNumber=@PrevPageNo">Prev</a>
                </li>
                @for (int i = 0; i < ViewBag.NoOfPages; i++)
                {
                    if ((i + 1) == ViewBag.pageNumber)
                    {
                        <li class="page-item active">
                            <a class="page-link" href="/student/index?SortColumn=@ViewBag.SortColumn&IconClass=@ViewBag.IconClass&pageNumber=@(i + 1)">@( i + 1)</a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link" href="/student/index?SortColumn=@ViewBag.SortColumn&IconClass=@ViewBag.IconClass&pageNumber=@(i + 1)">@( i + 1)</a>
                        </li>
                    }
                }
                <li class="page-item">
                    <a class="page-link" href="/student/index?SortColumn=@ViewBag.SortColumn&IconClass=@ViewBag.IconClass&pageNumber=@NextPageNo">Next</a>
                </li>
            </ul>
        </td>
    </tr>
</table>
