@model List<StudentActivity.Models.activity>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Activity</h2>

<a href="/activity/create" class="btn btn-info" role="button"  style="float: right;">Create</a>
<form class="from-inline" action="/activity/index">
    <span style="width:30%" class="input-group-text border-0" id="search-addon">
        <input type="search" class="form-control rounded" id="search" name="search" placeholder="Search" aria-label="Search" aria-describedby="search-addon" value="@ViewBag.search" />
        <button type="submit" class="btn btn-primary">Search</button>
    </span>
</form>


<div class="modal fade" id="deleteModel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Confirm</h2>

            </div>
            <div class="modal-footer">
                <div class="btn-group">
                    <a href="#" id="btndelete" class="btn btn-primary mr-2">delete</a> 
                    <a href="#" id="btncancel" class="btn btn-danger">cancel</a>
                </div>
            </div>
        </div>
    </div>

</div>

<table class="table">
    <tr class="table-secondary">
        <thead class="thead-dark">
        <th style="width:20%">
            Photo
        </th>
        <th style="width:15%">
            @if (ViewBag.iconClass == "fa-sort-desc")
            {
                <a href="/activity/index?sortColumn=aid&iconClass=fa-sort-asc&pageNumber=1">Activity ID</a>
                if (ViewBag.sortcolumn == "aid")
                {
                    <i class="fa @ViewBag.iconClass"></i>
                }
            }
            else
            {
                <a href="/activity/index?sortColumn=aid&iconClass=fa-sort-desc&pageNumber=1">Activity ID</a>
                if (ViewBag.sortColumn == "aid")
                {
                    <i class="fa @ViewBag.iconClass"></i>
                }

            }
        </th>
        <th style="width:15%">
            @if (ViewBag.iconClass == "fa-sort-desc")
            {
                <a href="/activity/index?sortColumn=activity1&iconClass=fa-sort-asc&pageNumber=1">Acitvity Name</a>
                if (ViewBag.sortcolumn == "activity1")
                {
                    <i class="fa @ViewBag.iconClass"></i>
                }
            }
            else
            {
                <a href="/activity/index?sortColumn=activity1&iconClass=fa-sort-desc&pageNumber=1">Acitvity Name</a>
                if (ViewBag.sortColumn == "activity1")
                {
                    <i class="fa @ViewBag.iconClass"></i>
                }

            }
        </th>
        <th style="width:10%">
            @if (ViewBag.iconClass == "fa-sort-desc")
            {
                <a href="/activity/index?sortColumn=cost&iconClass=fa-sort-asc&pageNumber=1">Cost</a>
                if (ViewBag.sortcolumn == "cost")
                {
                    <i class="fa @ViewBag.iconClass"></i>
                }
            }
            else
            {
                <a href="/activity/index?sortColumn=cost&iconClass=fa-sort-desc&pageNumber=1">Cost</a>
                if (ViewBag.sortColumn == "cost")
                {
                    <i class="fa @ViewBag.iconClass"></i>
                }

            }
        </th>
        <th style="width:15%">
            @if (ViewBag.iconClass == "fa-sort-desc")
            {
                <a href="/activity/index?sortColumn=stud_id&iconClass=fa-sort-asc&pageNumber=1">Student ID</a>
                if (ViewBag.sortcolumn == "stud_id")
                {
                    <i class="fa @ViewBag.iconClass"></i>
                }
            }
            else
            {
                <a href="/activity/index?sortColumn=stud_id&iconClass=fa-sort-desc&pageNumber=1">Student ID</a>
                if (ViewBag.sortColumn == "stud_id")
                {
                    <i class="fa @ViewBag.iconClass"></i>
                }
            }


        </th>
        </thead>
</tr>
    @foreach (var item in Model)
    {

        <tr>
            <td><img src="data:image;base64,@item.photo" width="250px" /></td>
            <td>@item.aid</td>
            <td>@item.activity1</td>
            <td>
                @if (item.cost.HasValue)
                {
                    <span>@item.cost.Value.ToString("C")</span>

                }
            </td>
            <td>
                @if (item.student != null)
                {
                    <span> @item.student.sname</span>
                }
            </td>
            <td>
                <a href="/activity/details/@item.aid" class="btn btn-info" role="button">Details</a>
                <a href="/activity/edit/@item.aid" class="btn btn-success" role="button">Edit</a>
                <a href="/activity/delete/@item.aid" class="btn btn-danger" onclick="Confirm(@item.aid)">Delete</a>
            </td>

        </tr>


    }


    <tr>
        <td colspan="9">
            @{
                int PrevPageNo = ViewBag.pageNumber - 1;
                if (PrevPageNo <= 0)
                {
                    PrevPageNo = 1;
                }

                int NextPageNo = ViewBag.pageNumber + 1;
                if (NextPageNo > ViewBag.NoOfPages)
                {
                    NextPageNo = ViewBag.NoOfPages;
                }
            }
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link" href="/activity/index?SortColumn=@ViewBag.SortColumn&IconClass=@ViewBag.IconClass&pageNumber=@PrevPageNo">Prev</a>
                </li>
                @for (int i = 0; i < ViewBag.NoOfPages; i++)
                {
                    if ((i + 1) == ViewBag.pageNumber)
                    {
                        <li class="page-item active">
                            <a class="page-link" href="/activity/index?SortColumn=@ViewBag.SortColumn&IconClass=@ViewBag.IconClass&pageNumber=@(i + 1)">@( i + 1)</a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link" href="/activity/index?SortColumn=@ViewBag.SortColumn&IconClass=@ViewBag.IconClass&pageNumber=@(i + 1)">@( i + 1)</a>
                        </li>
                    }
                }
                <li class="page-item">
                    <a class="page-link" href="/activity/index?SortColumn=@ViewBag.SortColumn&IconClass=@ViewBag.IconClass&pageNumber=@NextPageNo">Next</a>
                </li>
            </ul>
        </td>
    </tr>

</table>
